# Unreal Engine build and binary folders
Binaries/
Intermediate/
Saved/
DerivedDataCache/
.vs/

# Python cache files
__pycache__/
*.pyc

# Local user settings
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
