# Unreal Engine Git Ignore
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
FileOpenOrder/

# Visual Studio files
.vs/
*.sln
*.slnx
*.suo
*.xsd
*.user
*.apound
*.csproj
*.vcproj
*.vcxproj
*.filters

# OS/General files
.DS_Store
Thumbs.db
